<div class="new-list">
  <form action="/list/{{userId}}" method="POST">
    <input type="text" name="title" placeholder="Create a list" autocomplete="off" wrap="soft">
    <button type="submit" class="btn list-btn">Create</button>
  </form>
</div>

<div class="all-lists">
  {{#each lists}}
    <div class="list">
      <div class="list-header">
        <h2>{{title}}</h2>

        <form action="/list/{{id}}?_method=delete" method="POST">
          <input type="hidden" name="userId" value="{{../userId}}">
          <button type="submit" class="btn del-btn"><i class="fa fa-trash"></i></button>
        </form>
      </div>

      <ul>
        {{#each tasks}}
          <div class="item">
            <li>{{task}}</li>

            <form action="/task/{{id}}?_method=put" method="POST" class="edit-form hide">
              <input type="hidden" name="userId" value="{{../../userId}}">
              <textarea name="task" autocomplete="off" wrap="soft" autofocus>{{task}}</textarea>
              <div class="edit-form-btns">
                <button type="submit" class="btn save-btn">Save</button>
                <button class="exit-btn" id="exit-edit-form"><i class="fa fa-times"></i></button>
              </div>
            </form>

            <form action="/task/{{id}}?_method=delete" method="POST" class="hide del-form">
              <input type="hidden" name="userId" value="{{../../userId}}">
              <button type="submit" class="btn del-btn"><i class="fa fa-trash"></i></button>
            </form>
          </div>
        {{/each}}
      </ul>

      <div class="tools">
        <button class="add-item">Add an item...</button>

        <form action="/task" method="POST" class="hide">
          <input type="hidden" name="listId" value="{{id}}">
          <input type="hidden" name="userId" value="{{../userId}}">
          <textarea name="task" placeholder="Add item" class="item-to-add" warp="soft" autofocus></textarea>
          <div class="add-form-btns">
            <button type="submit" class="add-btn btn">Add</button>
            <button class="exit-btn" id="exit-add-form"><i class="fa fa-times"></i></button>
          </div>
        </form>
      </div>
    </div>
  {{/each}}
</div>
